table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0.3vw;
	font-size: 1.4vw;
	overflow-x: auto;
}

@media screen and (max-width: 100%) {
	table {
		overflow-x: auto;
		display: block;
	}
}

div {
	text-align: center;
}

.responsive {
	width: 15%;
	height: auto;
}

h1 {
	font-size: 3vw;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 2vw;
	text-align: center;
	margin: 0px;
}

tr {
	font-size: 1.4vw;
	min-width: auto;
}

td {
	font-size: 1.4vw;
	min-width: auto;
}

td.non-metal {
	background: linear-gradient(to bottom left, #808080 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.noble-gas {
	background: linear-gradient(to bottom left, #1e90ff 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.alkali-metal {
	background: linear-gradient(to bottom left, #ffa500 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.alkaline-earth-metal {
	background: linear-gradient(to bottom left, #b22222 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.metalloid {
	background: linear-gradient(to bottom left, #9acd32 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.halogen{
	background: linear-gradient(to bottom left, #00ced1 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.metal{
	background: linear-gradient(to bottom left, #228b22 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.transition-metal{
	background: linear-gradient(to bottom left, #ffd700 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.lanthanide {
	background: linear-gradient(to bottom left, #ba55d3 0%, #ffffff 125%);
	 border: 1px solid gray;
}

td.actinide {
	background: linear-gradient(to bottom left, #dda0dd 0%, #ffffff 125%);
	border: 1px solid gray;
}

td.text {
	background: white;
	border: 1px solid gray;
}

p {
	font-size: 0.8vw;
	margin: 10px;
}

p.name {
	text-align: center;
	margin: 0px;
}

p.mass {
	text-align: right;
	margin: 0px;
}

p.num {
	text-align: left;
	margin: 0px;
}