@font-face {
	font-family: "Cinzel-Regular";
	src: url("../fonts/Cinzel/Cinzel-Regular.eot?#iefix")format("embedded-opentype"),
	url("fonts/Cinzel/Cinzel-Regular.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/*
@font-face {
	font-family: "OpenSans-Bold";
	src: url("fonts/OpenSans/OpenSans-Bold.eot?#iefix")format("embedded-opentype"),
	url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("fonts/OpenSans/OpenSans-SemiBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url("fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}*/