@font-face {
	font-family: "Cinzel-Regular";
	src: url("../fonts/cinzel/Cinzel-Regular.eot?#iefix")format("embedded-opentype"),
	url("fonts/cinzel/Cinzel-Regular.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Cinzel-Black";
	src: url("../fonts/cinzel/Cinzel-Black.eot?#iefix")format("embedded-opentype"),
	url("fonts/cinzel/Cinzel-Black.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("fonts/OpenSans/OpenSans-SemiBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url("fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}*/